body {
    font-family: 'Roboto Slab', Arial, serif;
    background-color: hsl(291, 48%, 89%);
    display: flex;
    justify-content: center;

}

.container {
    width: 1200px;
    background-color: hsl(304, 51%, 94%);
    display: flex;
}

.item {
    border: 3px solid hsl(307, 22%, 54%);
    padding: 20px;
    margin: 15px;
    background-color: hsl(307, 55%, 88%);
}

#aside {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}