
.container {
    background-color: hsl(212, 36%, 90%);
    width: 900px;

    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 200px);
    grid-template-areas:
        ". . . one"
        "two two three ."
        "two two four five"
        ". . . ."
        ". six seven seven"
        "eight nine seven seven"
        "ten . . .";
}

.item {
    background-color: hsl(212, 43%, 65%);
    color: hsl(212, 36%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-1 {
    grid-area: one;
}

#item-2 {
    grid-area: two;
    background-color: hsl(208, 48%, 47%);
}

#item-3 {
    grid-area: three;
}

#item-4 {
    grid-area: four;
}

#item-5 {
    grid-area: five;
}

#item-6 {
    grid-area: six;
}

#item-7 {
    grid-area: seven;
    background-color: hsl(208, 48%, 47%);
}

#item-8 {
    grid-area: eight;
}

#item-9 {
    grid-area: nine;
}

#item-10 {
    grid-area: ten;
}